# Directories
.vs/
Binaries/

# Generated resource headers
/PongGame/Source/ResInclude
/PongGame/Source/PongAssets.cpp
/PongGame/Source/PongAssets.h

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.aps
Makefile

# Exclude
!Vendor/Binaries